.banner {
  margin-top: 20px;
  font-family: var(--font-poppins);
  position: relative;
}

.banner img {
  max-width: 100vw;
  object-fit: cover;
}

.banner-text {
  top: 80px;
  right: 100px;
  position: absolute;
}

.banner-title h2 {
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
  color: var(--secundaria-1);
}

.banner-title p {
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  color: var(--primaria--1);
  margin-top: -20px;
}

.banner-price span {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--secundaria-1);
  opacity: 0.6;
}

.banner-price p {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: var(--secundaria-1);
}

.banner-desc {
  background: var(--linear);
  padding: 60px 0;
}

.banner-flex,
.banner-desc--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-desc--item {
  font-family: var(--font-poppins);
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  color: var(--light);
}

.banner-desc--item svg {
  width: 40px;
}
