.contato {
  background: linear-gradient(92.46deg, #ff8a29 31.2%, #cf5d00 71.97%);
  padding: 60px 0;
}

.contato-text {
  display: flex;
  align-items: flex-end;
}

.contato-text h2 {
  max-width: 460px;

  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;

  color: var(--light);
}

.flex-contato {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contato-news h3 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--light);
  margin-bottom: 20px;
}

.inputs-cards {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 24px;
}

.input-card {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light);
  width: 100%;
}

.input-card input {
  outline: none;
  display: block;
  width: 200px;
  background: transparent;
  border: none;
  margin-left: 20px;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
}

.input-card input::placeholder {
  color: var(--light);
  opacity: 0.6;
}

.contato-interesse,
.contato-interesse > div {
  display: flex;
  align-items: center;
}

.contato-interesse {
  gap: 20px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  color: var(--light);
  margin-bottom: 40px;
}

.contato-interesse > div {
  gap: 10px;
}

.contato-interesse input {
  display: none;
}

input + label:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

input:checked + label:before {
  background-image: url("../images/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 1px;
}
