.header-top {
  padding: 20px 0;
  background: var(--linear);
}

.header-top h3 {
  font-weight: 500;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--light);
}

.header-address {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header-logo img {
  max-width: 297px;
}

.header-address--item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 40px;
}

.header-actions {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.header-actions--item {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.header-actions--item svg {
  width: 28px;
}

.header-actions--item p {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secundaria-1);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.menu a {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--secundaria-1);
}

.menu-mobile {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.menu-mobile > div {
  width: 40px;
  height: 4px;
  background-color: var(--secundaria-1);
}
