@media (max-width: 1380px) {
  .banner-title h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .banner-title p {
    font-size: 40px;
  }

  .banner-price span {
    font-size: 24px;
  }

  .banner-price p {
    font-size: 40px;
  }

  .button {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .banner-flex {
    justify-content: center;
    gap: 20px;
  }

  .banner-desc--item {
    font-size: 16px;
    line-height: 18px;
  }

  .banner-desc--item svg {
    width: 30px;
  }

  .banner-text {
    top: 40px;
    right: 80px;
  }

  .banner-title h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .banner-title p {
    font-size: 30px;
    line-height: 36px;
    margin-top: 4px;
  }
  .banner-price p {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .header-address {
    gap: 20px;
  }

  .header-logo-login {
    flex-direction: column;
  }

  .banner-text {
    top: 20px;
    right: 20px;
  }

  .banner-title h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .banner-title p {
    font-size: 18px;
    line-height: 24px;
  }

  .banner-price span {
    font-size: 16px;
  }

  .banner-price p {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .button {
    width: 200px;
    font-size: 16px;
    padding: 8px 0;
  }
}

@media (max-width: 600px) {
  .banner-text {
    top: 20px;
    right: 20px;
  }

  .banner-title h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .banner-title p {
    font-size: 16px;
    line-height: 20px;
  }

  .banner-price span {
    font-size: 14px;
  }

  .banner-price p {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .button {
    width: 160px;
    font-size: 14px;
    padding: 8px 0;
  }
}

@media (max-width: 550px) {
  .header-content {
    font-size: 12px;
  }

  .header-logo-login {
    flex-direction: column-reverse;
    gap: 20px;
    padding-bottom: 0;
  }

  .header-actions--item svg {
    width: 20px;
  }

  .header-actions--item p {
    font-size: 10px;
  }

  header {
    position: relative;
  }

  nav {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: inline-flex;
    padding: 20px 0;
    z-index: 999;
  }

  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .mobile {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 60px;
    background: var(--linear);
  }

  .mobile a {
    color: var(--light);
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
  }

  .banner-text {
    top: 10px;
    right: 10px;
  }

  .banner-title h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .banner-price {
    margin-top: -10px;
  }

  .banner-title p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
  }

  .banner-price span {
    font-size: 14px;
  }

  .banner-price p {
    font-size: 20px;
    line-height: 22px;
    margin-top: -10px;
    margin-bottom: 0;
  }

  .button {
    width: 100px;
    font-size: 12px;
    padding: 4px 0;
  }
}
